$purple: #710097;
$white: #fff;
$black: #181818;
$dark-purple: #4e0069;
$link-color: #f44e91;
$nav-link-color: #710097;
$purple-background: rgba(113, 0, 151, .1);
$border: rgba(113, 0, 151, .8);
$nav-box-shadow: #777;
$menu-transition: .5s;

@mixin flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flex-align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin flex-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-justify-dist {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin flex-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-dir-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-value($value) {
  -webkit-box-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: $purple;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
}

header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
  display: block;
}

a {
  color: $link-color;
  text-decoration: none;
}

header {
  @include flex-display;
  @include flex-justify-center;
  @include flex-align-center;
  @include flex-dir-column;
}

.logo-head {
  padding-top: 20px;
  width: 50%;
}

nav {
  @include flex-display;
  @include flex-justify-center;
  @include flex-align-center;
  @include flex-dir-column;
  background-color: $white;
  -webkit-box-shadow: 0 5px 5px $nav-box-shadow;
  box-shadow: 0 5px 5px $nav-box-shadow;
  width: 100%;
  min-height: 60px;

  a {
    color: $nav-link-color;
    font-size: 1.5rem;
    padding: 3px 20px;
  }

  a:hover {
    font-weight: bold;
  }
}

.navbtn {
  @include flex-display;
  @include flex-justify-center;
  @include flex-align-center;
  -webkit-box-shadow: 0 5px 5px $nav-box-shadow;
  box-shadow: 0 5px 5px $nav-box-shadow;
  width: 100%;
}

.my-btn {
  @include flex-align-center;
  @include flex-justify-center;
  @include flex-display;
  background: transparent;
  border: 0;

  line {
    stroke: $purple;
    stroke-linecap: round;
    stroke-width: 3px;
  }
}

.my-btn:hover,
.my-btn:focus,
.my-btn:active { // turn hamburger dark and bold on hover
  outline: 0;

  line {
    stroke: $dark-purple;
    stroke-width: 4px;
    transition: stroke $menu-transition ease, stroke-width $menu-transition ease;
  }
}

.closed {
  display: none;
}

.show {
  @include flex-align-center;
  @include flex-justify-center;
  @include flex-display;
  left: 0;
  position: absolute;
  top: 60px;
}

@media (min-width:600px) {
  nav {
    a {
      font-size: 2.5rem;
    }
  }
}

@media (min-width:910px) {
  nav {
    @include flex-dir-row;

    a {
      font-size: 2.75rem;
    }
  }

  .navbtn {
    display: none;
  }

  .closed {
    @include flex-align-center;
    @include flex-justify-center;
    @include flex-display;
  }
}

// ----MAIN----

main {
  @include flex-align-center;
  @include flex-justify-center;
  @include flex-display;
  @include flex-dir-column;

  h3 {
    font-size: 2rem;
    margin: 20px 0;
  }
}

@media (min-width:600px) {
  main {
    h3 {
      font-size: 3rem;
    }
  }
}

// ----HOME----

.hello {
  @include flex-align-center;
  @include flex-justify-center;
  @include flex-display;
  @include flex-dir-column;
  border: 5px double $border;
  height: 100%;
  position: relative;
  width: 85%;

  &::before {
    background-image: url('../images/priceBack.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  p {
    font-size: 1.6rem;
    padding: 10px;
  }
}

@media (min-width:400px) {
  .hello {
    p {
      font-size: 1.8rem;
    }
  }
}

@media (min-width:576px) {
  .hello {
    p {
      font-size: 2.2rem;
    }
  }
}

@media (min-width:992px) {
  .hello {
    p {
      font-size: 2.8rem;
    }
  }
}

// ----ABOUT----

.about {
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  @include flex-justify-center;
  border: 5px double $border;
  height: 100%;
  position: relative;
  width: 85%;

  &::before {
    background-image: url('../images/priceBack.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  img {
    padding-top: 10px;
    width: 30%;
  }

  p {
    font-size: 1.6rem;
    padding: 10px;
  }
}

// ----PRICES----

.milage {
  font-size: 2rem;
  padding: 20px;
  padding-top: 0;
}

.tab-list {
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  font-family: 'Aref Ruqaa', serif;
  font-size: 2.75rem;

  a {
    color: $purple;
    cursor: pointer;
    padding: 5px 20px;
    transition: color $menu-transition ease-in-out;
    white-space: nowrap;

    &:hover {
      color: $link-color;
      transition: color $menu-transition ease-in-out;
    }

    &.active {
      color: $link-color;
    }
  }
}

.tab-panel {
  display: none;

  table {
    width: 100%;

    td {
      width: 50%;
    }
  }
}

.tab-panel {
  &.active {
    @include flex-align-center;
    @include flex-display;
    @include flex-justify-center;
    border: 5px double $border;
    font-size: 1.6rem;
    margin: 10px 20px;
    padding: 10px 0;
    position: relative;
    width: 85%;

    td {
      padding: 0 5px;
    }
  }

  &.active::before {
    background-image: url('../images/priceBack.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.desc {
  font-size: 1.2rem;
}

.calgelhd {
  font-size: 2rem;
}

.calgel {
  font-size: 1.4rem;
  padding: 5px 0;
}

.party {
  font-size: 2.25rem;
}

@media (min-width:790px) {
  .tab-list {
    @include flex-dir-row;
  }

  .tab-panel.active {
    font-size: 2rem;
  }

  .desc {
    font-size: 1.75rem;
	}

  .calgelhd {
    font-size: 2.4rem;
  }

  .calgel {
    font-size: 2.2rem;
  }

  .party {
    font-size: 2.5rem;
  }
}

@media (min-width:910px) {
  .milage {
    font-size: 2.4rem;
  }

  .tab-panel.active {
    font-size: 2.4rem;
  }
}

// ----GALLERY----

.gallery-container {
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column
  border: 5px double $border;
  max-height: 600px;
  position: relative;
  width: 85%;

  &::before {
    background-image: url('../images/priceBack.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.gallery {
  @include flex-display;
  overflow: scroll;
  width: 100%;
}

.gallery-column {
  padding: 2.5px;
  width: 20%;

  img {
    width: 100%;
  }
}

// ----SLIDER----

.slider {
  border: 5px double $border;
  height: 300px;
  position: relative;
  width: 85%;

  &::before {
    background-image: url('../images/priceBack.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.slide-viewer {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide-group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.slide-content {
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  @include flex-justify-center;
  height: 100%;
}

.comment {
  font-size: 1.6rem;
  padding: 10px;
}

.name {
  font-size: 1.2rem;
}

.slide:first-child {
  display: block;
  padding: 10px;
}

.slide-buttons button {
  background: none;
  border: 0;
  color: $purple;
  cursor: pointer;
  font-size: 1.6rem;
  margin: 0 2px;
}

@media (min-width:480px) {
  .comment {
    font-size: 2.4rem;
  }

  .name {
    font-size: 1.8rem;
  }
}

@media (min-width:715px) {
  .comment {
    font-size: 2.4rem;
  }

  .name {
    font-size: 1.8rem;
  }
}

@media (min-width:950px) {
  .comment {
    font-size: 2.8rem;
  }

  .name {
    font-size: 2.5rem;
  }
}

// ----FOOTER----

footer {
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  @include flex-justify-center;
  font-size: 1.6rem;
  margin-top: 15px;
  padding: 5px;
  position: relative;

  &::before {
    background-image: url('../images/footerImage1.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.main {
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  @include flex-justify-center;
}

.logo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50%;
}

.copyright {
  padding: 10px;
}

.contact {
  @include flex-align-stretch;
  @include flex-display;
  @include flex-dir-column;
  @include flex-justify-center;
  @include flex-value(2);
}

  p {
    padding: 5px;
  }
}

.facebook {
  color: $purple;
  cursor: pointer;
  padding-top: 5px;
}

.hours {
  @include flex-align-center;
  @include flex-display;
  @include flex-value(1);
  @include flex-justify-center;
  padding: 20px;

  td {
    padding: 3px 7px;
  }
}

@media (min-width:950px) {
  .contact {
    font-size: 2rem;
  }
}

@media (min-width:975px) {
  .main {
    @include flex-dir-row;
    @include flex-justify-dist;
  }

  .logo {
    width: 30%;
  }
}
