$black: #000;
$contact-grey: rgba(51, 51, 51, .3);
$cream: rgb(214, 206, 199);
$dark-grey: #333;
$blue: rgb(54, 130, 197);
$menu-background: rgb(51, 153, 255);
$menu-transition: .2s;
$cross-transition: .5s;
$white: #fff;

// ---- GLOBAL ----

* {
  box-sizing: border-box;
}

.back-to-top {
  background-color: $contact-grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 10px;
  font-size: 1.4rem;
  padding: 3px;
  position: fixed;
  right: 20px;
  width: 60px;
  z-index: 2;

  a {
    color: $black;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    i {
      font-size: 3rem;
    }
  }
}

body {
  background-color: $cream;
  color: $dark-grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin: 0;
  min-height: 100vh;
  position: relative;
  text-align: center;
}

@media(min-width: 700px) {
  body {
    font-size: 1.6rem;
  }
}

@media(min-width: 900px) {
  body {
    font-size: 1.4rem;
  }
}

.contact-links {
  background-color: $contact-grey;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  left: 10px;
  padding: 7px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  a {
    color: $black;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &:not(.phone) {
      margin-top: 10px;
    }

    i {
      font-size: 3rem;
    }
  }
}

footer {
  width: 100%;

  a:first-child {
    display: block;
  }
}

header {
  position: absolute;
  top: -70px;
  width: 100%;

  img {
    display: none;
  }
}

html {
  border: 10px solid $white;
  border-top: 80px solid $white;
  font-size: 62.5%;
  height: 300vh;
  min-height: 100vh;
}

li:not(:first-child) {
  padding-top: 5px;
}

main {
  margin-bottom: 60px;
}

#maincontent {
  display: none;
}

.screen-reader {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  width: 1px;

  &:focus {
    height: auto;
    left: 0;
    overflow: visible;
    top: 0;
    width: auto;
  }
}

.screen-reader-hidden {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  width: 1px;
}

@media (min-width:900px) {
  header {
    img {
      display: block;
    }
  }
}

// ---- NAVIGATION ----

.closed {
  display: none;
}

.page-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  justify-content: space-between;

  .links-left,
  .links-right {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 35%;
  }

  a {
    color: $black;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: font-size $menu-transition ease-in-out;

    &:first-child {
      display: block;
    }

    &:hover {
      font-size: 2.2rem;
      transition: font-size $menu-transition ease-in-out;
    }
  }
}

.show {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: -10px;
  width: 100vw;
  z-index: 3;

  a {
    color: $white;
    margin: 10px;
  }

  .logo {
    display: none;
  }
}

.toggler-icon {
  background: none;
  border: 0;
  margin: 10px;
  z-index: 4;

  svg {
    line {
      stroke: $blue;
      stroke-linecap: round;
      stroke-width: 3px;
    }

    #one,
    #two,
    #three {
      opacity: 1;
      -webkit-transition: all $cross-transition ease-in-out;
      transition: all $cross-transition ease-in-out;
    }
  }

  &:hover {
    cursor: pointer;

    line {
      stroke-width: 5px;
      transition: stroke-width $menu-transition ease-in-out;
    }
  }

  &.active {
    svg {
      #one {
        stroke: $cream;
        -webkit-transform: translateX(10px) translateY(0px) rotate(45deg);
        transform: translateX(10px) translateY(0px) rotate(45deg);
      }
      #two {
        opacity: 0;
      }
      #three {
        stroke: $cream;
        -webkit-transform: translateX(-11px) translateY(10px) rotate(-45deg);
        transform: translateX(-11px) translateY(10px) rotate(-45deg);
      }
    }
  }
}

@media (min-width:900px) {
  .closed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 160px;
    opacity: 1 !important;
    width: 100%;

    .logo {
      height: auto;
      width: 20%;
    }
  }

  .page-menu {
    flex-direction: row;
    padding: 0 20px;

    .links-left {
      margin-right: auto;
    }

    .links-right {
      margin-left: auto;
    }

    .links-left,
    .links-right {
      align-items: flex-start;
      flex-direction: row;
      margin-top: 15px;
    }
  }

  .toggler-icon {
    display: none;
  }
}

// ---- NEXT COURSES ----

#next-courses {
  width: 100%;
}

.course_search_container {
  margin: 30px;
}

.course-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    background-color: $blue;
    border-radius: 3px;
    color: $white;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
  }
}

// ---- HOME ----

.links {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;

  .home-buttons {
    align-items: center;
    background-color: $blue;
    color: $white;
    display: flex;
    filter: drop-shadow(2px 2px 5px $dark-grey);
    max-width: 220px;
    padding: 10px;
    text-decoration: none;

    span {
      font-size: 1.8rem;
    }

    i {
      font-size: 3.5rem;
      margin-left: 5px;
    }
  }
}
